* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: black ;
}
.active {
    border-bottom: 2px solid white;
}

.topnav a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
}

.topnav a:hover {
    border-bottom: 2px solid white;
    transition: 120ms; 
}

.topnav a:active {
    border-bottom: 2px red;
}

ul {
    margin: auto;
    text-align: right;
    font-size: 20px;
    padding: 40px;
}

li{
    display: inline;
    color: white;
    
}

.logo {
    background-color: black;
    float:left; 
    padding-top: 19px; 
    padding-left: 10px;
}

marquee {
    color: white;
    background-color: black;
    font-size: 19px;
}



.backgroundTitle{
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10;
}


.block {
    height: 400px;
    background-image: url('../images/backgroundTitle.jpg') ;
    background-position: 0 0; background-repeat: no-repeat; background-size: 100%;
}
        
.block h1{
    font-size: 50px;
    text-align: center;
    padding-top: 115px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.content {   
    padding: 50px 250px 50px 250px;
}

.content p, form {
    padding-top: 10px;
    font-size: 20px;
}
button.button {
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    border: 2px;
    border-radius: 5px;
    background: black;
    transition: 0.2s;
  }

button.button:hover { background: rgb(255, 0, 0); }

button.button:active {  
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
  }

